header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
  }
  
  .title {
    margin-right: auto;
  }
  
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #5F2201;
    font-weight: bold;
  }
body{
  
}
.Skill {
  display: inline-block;
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
}