/* 共通パーツ */
.btn {
  text-decoration:  none;             /* デフォルトCSS打ち消し */
  color: #5F2201;                        /* 文字色指定 */
  background-color: white;          /* 背景色指定 */
  width: 120px;                       /* 幅指定 */
  display: block;                     /* ブロック要素にする */
  text-align:  center;                /* 中央揃え */
  padding: 15px;                      /* 余白指定 */
  border-radius:  25px;                /* 角丸指定 */
  font-size: 16px;                    /* 文字サイズ指定 */
  font-weight: bold;
  border-style: solid;
  border-color: #5F2201;
  margin: 0 auto;
  margin-top: 49px;
  /* margin-bottom: 100px; */
}

.text{
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

/* タイトル */
/* .main-image_cat{
  width: 100%;
  max-width: 100%;
  height: auto;
} */

/* ロゴ */
.logo{
  margin-left: 230px;
  margin-top: 11px;
}


@media only screen and (max-width: 767px){
  .logo{
    margin-left: 15px;
    margin-top: 20px;
    width: 125px;
    height: 20px;
  }
}

/*　ハンバーガーボタン　*/
.globalMenuSp_list{
  visibility: hidden;
}

@media screen and (max-width: 900px) {

.globalMenuSp_list{
  visibility: visible;
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition     : all 0.3s ease-in-out;
  transition        : all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay     : 0.6s;
  transition-delay        : 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(2){
  width: 0px;
}
.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3){
  background :#fff;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.hamburger.active span:nth-child(1){
  -webkit-transform: translateY(4px);
  -ms-transform    : translateY(4px);
  -o-transform     : translateY(4px);
  transform        : translateY(4px);
}

.hamburger.active span:nth-child(3){
  -webkit-transform: translateY(-16px) rotate(90deg);
  -ms-transform: translateY(-16px) rotate(90deg);
  -o-transform : translateY(-16px) rotate(90deg);
  transform    : translateY(-16px) rotate(90deg);
}


nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}

}


/* ヘッダー */
header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
  }
  
  .title {
    margin-right: auto;
  }
  
  @media screen and (max-width: 900px) {
    .nav{
      display: none;
    }
  }

  .nav_menu-group{
    display: flex;
    padding-left: 375px;
  }

  .nav_menu-group_menu-item {
    list-style: none;
    padding-right: 40px;
    color: #5F2201;
    font-weight: bold;
    font-size: 18px;
  }

  .nav_menu-group_menu-item a {
    text-decoration: none;
    color: #5F2201;
  }


/*メイン画像 */
@media screen and (max-width: 900px) {
  .main-image{
    text-align: center;
  }
 }

.main-image_cat{
  height:738px;
  max-width: 1440px;
}

@media screen and (max-width: 900px) {
  .main-image_cat{
    height:192px;
    max-width: 375px;
    margin: 0 auto;
  }
 }

/*スキル*/
.Skill_title {
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 95px;
}

@media screen and (max-width: 900px) {
  .Skill_title {
    color: #5F2201;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 95px;
  }
 }

.Skill_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

@media screen and (max-width: 900px) {
  .Skill_block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.Skill_block_left_cat2{
  height: 300px;
  width: 400px;
  /* margin-right: 90px;
  margin-left: 230px; */
}

@media screen and (max-width: 900px) {
  .Skill_block_left{
    text-align: center;
  }
  .Skill_block_left_cat2{
    height: 259px;
    width: 345px;

    /* margin-right: 90px;
    margin-left: 230px; */
  }
}

.Skill_block_right{
  width: 400px;
  height: 166px;
}

@media screen and (max-width: 900px) {
  .Skill_block_right{
    width: 345px;
    height: 156px;
    text-align: center;
  }
  .text{
    text-align: left;
  }
}

.Skill_block-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 85px;
}

@media screen and (max-width: 900px) {
  .Skill_block-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  
  }
}

.Skill_block-2_left{
  /* margin-left: 230px;
  margin-right: 90px; */
  width: 400px;
  height: 166px;
}

@media screen and (max-width: 900px) {
  .Skill_block-2_left{
    width: 345px;
    height: 156px;
  }
}

@media screen and (max-width: 900px) {
  .Skill_block-2_right {
    text-align: center;
  }
  .Skill_block-2_right_cat3 {
    height: 259px;
    width: 345px;
  }
}

/* About */
.About{
  background-color: wheat;
  /* width: 1440px; */
  padding-bottom: 100px;

}

.About_title{
  padding-top: 93px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-top: 100px;

}

.About_block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 900px) {
  .About_block{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}

.About_block_left{
  /* margin-left: 230px; */
  text-align: center;
}

.About_block_left_cat4{
  margin: 0 auto;
}

.About_block_text{
  font-size: 16px;
  text-align: center;
}

/* @media screen and (max-width: 900px) {
  .About_block_text{
    font-size: 16px;
    text-align: center;
    width: 345px;

  }
} */

.About_block_right{
  text-align: center;
}



/* Contact */
.Contact_title{
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}


.Contact_block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 900px) {
  .Contact_block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}

.CContact_block_right{
  width: 300px;
  height: 90px;
  text-align: center;
  margin-top: 75px;
}


/* フッター */
footer{
  background-color: #B9B9B9;
  color: white;
  height: 60px;
  text-align: center
}

.fotter_text{
  padding-top: 21px;
  margin-top: 100px;
}





