
/* ヘッダー */
header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
  }
  
  .title {
    margin-right: auto;
  }
  
  .nav_menu-group{
    display: flex;
    padding-left: 375px;
  }

  .nav_menu-group_menu-item {
    list-style: none;
    padding-right: 40px;
    color: #5F2201;
    font-weight: bold;
    font-size: 18px;
  }

  .nav_menu-group_menu-item a {
    text-decoration: none;
    color: #5F2201;
  }


/*メイン画像 */
.main-image_cat{
  height:738px;
  max-width: 1440px;
}

/*スキル*/
.Skill_title {
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 95px;
}

.Skill_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.Skill_block_left_cat2{
  height: 300px;
  width: 400px;
  /* margin-right: 90px;
  margin-left: 230px; */
}

.Skill_block_right{
  /* margin-left: 90px; */
  width: 400px;
  height: 166px;
}

.Skill_block-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 85px;
}

.Skill_block-2_left{
  /* margin-left: 230px;
  margin-right: 90px; */
  width: 400px;
  height: 166px;
}

.Skill_block-2_right{
  margin-left: 90px;
}

/* About */
.About{
  background-color: wheat;
  /* width: 1440px; */
  padding-bottom: 100px;

}

.About_title{
  padding-top: 93px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-top: 100px;

}

.About_block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.About_block_left{
  /* margin-left: 230px; */
  text-align: center;
}

.About_block_left_cat4{
  margin: 0 auto;
}

.text-about{
  font-size: 16px;
  text-align: center;
  width: 314px;
}

.About_block_right{
  text-align: center;
}



/* Contact */


.contact{
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}









div.pf-honbun{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer{
  background-color: #B9B9B9;
  color: white;
}

.text{
  font-size: 16px;
}









.logo{
  margin-left: 230px;
  margin-top: 11px;
}





/* .cat4{
  margin-left: 230px;
  margin-right: auto;
} */





body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.more{
  border-radius: 25px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-color: #5F2201;
  border-width: 5px;
  text-align: center;
  display: block;
  

}
.radius_test {
  text-decoration:  none;             /* デフォルトCSS打ち消し */
  color: #5F2201;                        /* 文字色指定 */
  background-color: white;          /* 背景色指定 */
  width: 120px;                       /* 幅指定 */
  display: block;                     /* ブロック要素にする */
  text-align:  center;                /* 中央揃え */
  padding: 15px;                      /* 余白指定 */
  border-radius:  25px;                /* 角丸指定 */
  font-size: 16px;                    /* 文字サイズ指定 */
  font-weight: bold;
  border-style: solid;
  border-color: #5F2201;
  margin: 0 auto;
  margin-top: 49px;
  /* margin-bottom: 100px; */
}

footer{
  width: 1440px;
  height: 60px;
  text-align: center
  
}

.fotter-text{
  padding-top: 21px;
  
  margin-top: 100px;

}



.ph-right{
  /* margin-left: 190px; */
}
/* 
.pf-left{
  margin-right: 200px;
} */

.pf-right{
  width: 300px;
  height: 90px;
  text-align: center;
  margin-top: 75px;
}

.para-fo{
}
