header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
  }
  
  .title {
    margin-right: auto;
  }
  
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #5F2201;
    font-weight: bold;
  }

.Skill {
  display: inline-block;
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
}
.About{
  display: inline-block;
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.contact{
  display: inline-block;
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

div.para {
  display: flex;

}

div.para-s{
  display: flex;
}

div.para-th{
  background-color: wheat;
}

div.pt-honbun{
  display: flex;
}