header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
  }
  
  .title {
    margin-right: auto;
  }
  
  .menu-item {
    list-style: none;
    /* display: inline-flex; */
    padding-right: 40px;
    color: #5F2201;
    font-weight: bold;
    font-size: 18px;
    
  }


  ul.menu-group{
    display: flex;
    padding-left: 375px;
  }

.Skill {
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 100px;
}
.About{
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.contact{
  padding: 10px;
  color: #5F2201;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

div.para {
  display: flex;

}

div.para-s{
  display: flex;
  margin-top: 85px;
}

div.para-th{
  background-color: wheat;
  width: 1440px;
}

div.pt-honbun{
  display: flex;
}

div.pf-honbun{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer{
  background-color: #B9B9B9;
  color: white;
}

.text{
  font-size: 16px;
}

.text-about{
  font-size: 16px;
  text-align: center;
  width: 314px;
}

.bigcat{
  height:738px;
  width: 1440px;
}

.cat2{
  height: 300px;
  width: 400px;
  margin-right: 90px;
  margin-left: 230px;
}

.para-right{
  margin-left: 90px;
  width: 400px;
  height: 166px;
}

.logo{
  margin-left: 230px;
  margin-top: 11px;
}

.para-s-left{
  margin-left: 230px;
  margin-right: 90px;
  width: 400px;
  height: 166px;
}

.para-s-right{
  margin-left: 90px;
}

/* .cat4{
  margin-left: 230px;
  margin-right: auto;
} */

/* .ph-left{
  margin-left: 230px;
} */

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.more{
  border-radius: 25px;
  background-color: white;
  width: 120px;
  height: 50px;
  border-color: #5F2201;
  border-width: 5px;
  text-align: center;
  display: block
  
  ;
}
.radius_test {
  text-decoration:  none;             /* デフォルトCSS打ち消し */
  color: #5F2201;                        /* 文字色指定 */
  background-color: white;          /* 背景色指定 */
  width: 120px;                       /* 幅指定 */
  display: block;                     /* ブロック要素にする */
  text-align:  center;                /* 中央揃え */
  padding: 15px;                      /* 余白指定 */
  border-radius:  25px;                /* 角丸指定 */
  font-size: 16px;                    /* 文字サイズ指定 */
  font-weight: bold;
  border-color: tomato;
  margin: 0 auto;
}

footer{
  width: 1440px;
  height: 60px;
  text-align: center
}

.fotter-text{
  margin: 0 auto;
}